
pre {
   display: block;
   font-family: monospace;
   white-space: pre-wrap;
   word-wrap: break-word;
   color: black;
}

body {
   font-family: arial;
   font-size: 15px;
}

h1 {
   color: blue;
}

form {
   background-color: lightblue;
   border: outset 2px;
   border-radius: 10px;
}
/*
@media (orientation: landscape) {
  form {
     width: 100%;
  }
}

@media (orientation: portrait) {
   form {
      width: 100%;
      
   }
}

*/


form {
    /*
   width: calc(100% - 20px);
 */
   padding: 10px;
}


input, textarea {
   width: calc(100% - 10px);
   border: inset 2px;
   margin-bottom: 5px;
}


textarea {
   height: 120px;
}

button {
   margina: 5px;
}


label {
   font-weight: bold;
   margin-top:10px
}

input[type=checkbox] {
    display: inline;
    vertical-align: middle;
    width: auto;
}